#container{
    background-color: rgb(244, 188, 188);
    border: 4px solid red;

}
.item{
    border: 3px solid red;
    padding: 10px;
    margin: 10px;
}/*
#fruits{
    width: 40%;
    float: right;
}
#juice{
    width: 50%;
    float: left;
}
#sugar{
    width: 100%;
    float: left;
    clear: both;/*by using we remove the overlapping of other boxes which are on both left and right float*/

.navbar{
    background-color: black;
    color: aliceblue;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 13px 20px;
}
*{
    text-align: center;
}
.another{
    background-color: rgb(193, 193, 206);
    border: 3px solid blue;
    margin: auto 40px;/*by using auto it come on center*/
    margin-top: 30px;
}
a:hover{
    background-color: black;
}
a:active{
    background-color: aqua;
}
a:visited{
    background-color: blueviolet;
}

.btn{
    background-color: blue;
    border: none;
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;
    margin: auto;
    margin-bottom: 2px;
    margin-left: 10px;
    color: white;
    padding: 6px;
    border-radius: 2px;

}
