p{
    color: rgb(216, 224, 221);
    background-color: rgb(9, 6, 12);
    font-family:"Momo Signature", cursive; /* we can use google font fo these*/
    font-size: 40px;
    line-height: 3em; /* area of that p as per there parent line cauz of em unit */
    font-style: italic;
    font-weight: bold;
}
#first {
    /* three type of using color */
    color: aqua;
    background-color:  rgb(147, 80, 25);
    color: #fcba03;

}
header{
    background-color: pink;
    height: 200px;
    width: 800px;
    /*for particular top,right,left,bottom border we can use border-top,border-right.....*/
    border: 4px solid black;
    border-radius: 11px;
    /*border-width: 2px;
    border-color: blue;
    border-style: solid;*/
    border-radius: 11px;
    border-top-left-radius:20px ;
    /*for particular corner*/
    background-image: url('image.png');
    background-repeat: no-repeat;/*reapeat-x and repeat-y make image repeat on x axis and y axis*/
    background-position: center center; /*we can use left ,right,top,bottom  and also value (10px 20px) in x and y axis as require*/
    /* background-position: bottom left;*/ 

}
#box{
    background-color: aqua;
    color: black;
    font-size:20px ;
    line-height: 2em;
    padding: 40px;
    padding: 10px 20px 30px 40px;/*top right bottom left*/
    border: 4px dashed black;
    margin: 100px;
    margin: 10px 20px 30px 40px;/*top right bottom left*/
}
